## NPM ##
node_modules

## config ##
config.js
.eslintrc.js

## utilities ##
utils/photos/images
utils/client/template.css

## Docker ##
Dockerfile

## VSCode ##
.vscode

## Jest ##
coverage

## webpack bundle ##
public/bundle.js